plots_limit*
datacards_ttc_*
SignalExtractionChecks2018
FinalInputs
higgsCombine_C_201*_asimov_t_0_SignalExtractionChecks201*.FitDiagnostics.mH120.root
roostats-*.root
*.root
*.json
*.pyc
bin
scripts
JobList
output
err
log
*.cc
combo.txt
*.log
